*~
CMakeFiles
CMakeCache.txt
moc_*
*.moc
*.pyc
.*.swp
.*.kate-swp
configure
config.status
config.log
Makefile
Makefile.in
ChangeLog
autom4te.cache
aclocal.m4
libkolabxml-*.tar.gz
libkolabxml-*.*/
libkolabxml.spec
build
*kdev4*
