Source: libkolabxml
Section: libs
Priority: optional
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libxerces-c-dev,
               xsdcxx,
               uuid-dev,
               libboost1.49-dev,
               libboost-system1.49-dev,
               libboost-thread1.49-dev,
               swig2.0,
               libcurl4-gnutls-dev,
               php5-dev,
               python-dev,
Standards-Version: 3.9.3
Homepage: http://git.kolab.org/libkolabxml

Package: libkolabxml0
Architecture: any
Depends: ${misc:Depends},
	${shlibs:Depends}
Description: Kolab Format 3.0 serialization, read and write library
 libkolabxml is a slim, lightweight Kolab Format 3.0 serialization,
 read and write library.

Package: php-kolabformat
Architecture: any
Depends: libkolabxml0 (= ${binary:Version}),
	${misc:Depends},
	${shlibs:Depends},
	phpapi-20100525
Description: PHP bindings for Kolab Format 3.0
 This package provides PHP bindings for Kolab Format 3.0 XML parsing

Package: python-kolabformat
Architecture: any
Section: python
Depends: libkolabxml0 (= ${binary:Version}),
	python,
	${misc:Depends},
	${shlibs:Depends}
Description: Python bindings for Kolab Format 3.0
 This package provides Python bindings for Kolab Format 3.0 XML parsing

Package: libkolabxml-dev
Section: libdevel
Architecture: any
Depends: libkolabxml0 (= ${binary:Version}),
         ${misc:Depends}
Description: Kolab Format 3.0 serialization, read and write library
 libkolabxml is a slim, lightweight Kolab Format 3.0 serialization,
 read and write library.
 .
 This package contains the development files for the library.
